*, *:before, *:after {
  box-sizing: border-box;
}
:root {
    /* Colors */
    --primary-color: #03a9f4;
    --secondary-color: #f47727;
    --red-color: red;
    --accent-color: #ffc107;
    --background-color: #f4f4f4;
    --header-background-color: #fefefe;
    --text-color: #333333;
    --text-white: #fefefe;
    --white: #fefefe;
    
    /* Typography */
    --font-family: 'Helvetica Neue', sans-serif;
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-s: 14px;
  
    /* Spacing */
    --space-unit: 8px;
    --space-xs: var(--space-unit);
    --space-s: calc(2 * var(--space-unit));
    --space-m: calc(3 * var(--space-unit));
    --space-l: calc(4 * var(--space-unit));
    --space-xl: calc(5 * var(--space-unit));
    --space-xxl: calc(6 * var(--space-unit));
  }
  
  h1 {
      font-size: 1.714rem;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.07145rem;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    color: inherit;
}

