.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fefefe;
    background-clip: border-box;
    border: 1px solid #C6D2D9;
    border-radius: 2px;
}