.outlet {
    padding-top: 50px;
}
.layout {
    display: flex;
}
.main {
    margin-left: 200px;
    transition: margin .3s ease;
    width: 100%;
    min-width: 1px;
    margin-top: 50px;
}
@media (min-width: 992px){
.main {
    padding: 2.8572rem 0.7143rem;
}
}
.main {
    padding: 1.4286rem 0.7143rem;
}